html, body {
    overflow: hidden;
}

.page {
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    display:flex;
    flex-direction: column;
}

.first-row, .second-row {
    display:flex;
    flex-direction: row;
    justify-content: start;
}

.line-chart-legend {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    min-width: 70px;
}

.color-line-chart-0, .color-line-chart-1, .color-line-chart-2 {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: bold;
}

.settings {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}

.options {
    margin-top: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:50px;
}

.overall {
    margin-top: 25px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:50px;
}

#total {
    margin-top: 25px;
}

.unit {
    display:flex;
    flex-direction: row;
    justify-content: start;
    gap:10px;
}

.gender, .age, .education {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.slider-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
    width:100%;
}

#slider {
    width:65%;
}

h1, h4 {
    text-align: center;
}

h4 {
    font-size: 15px;
}

.chart-title, .xaxis, .yaxis, .line-x-axis, .line-y-axis {
    font-weight: bold;
}

#play-pause-button {
    margin-top:25px;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.btn-over-svg {
    position: absolute;
    top: 20px; 
    left: 10px; 
}

#mapMouseText {
    position: absolute;
    height: 32px;
    padding: 3px;
    color: white;
    border: #DC3545 2px solid;
    border-radius: 2px;
    background: #DC3545;
    display: none;
}

#barMouseText {
    position: absolute; 
    height: 32px; 
    padding: 3px;
    color: white;
    border: #DC3545 2px solid;
    border-radius: 2px;
    background: #DC3545; 
    border-radius: 2px; 
    pointer-events: none; 
    opacity: 0;
}

#lineMouseText, #pieChartsMouseText {
    position: absolute; 
    height: 30px; 
    padding: 3px;
    color: white;
    pointer-events: none; 
    opacity: 0;
}

#pieChartsMouseText {
    font-weight: bold;
}

.genderPieChart, .educationPieChart, .agePieChart {
    margin-left: 60px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
}

.gender-legend, .education-legend, .age-legend {
    margin-top: 5px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}

#malePieLegend, #femalePieLegend, #noDataGenderPieLegend, 
#primaryPieLegend, #secondaryPieLegend, #tertiaryPieLegend, #noDataEducationPieLegend,
#youngPieLegend, #middlePieLegend, #oldPieLegend, #noDataAgePieLegend {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: bold;
    align-items: center;
}

#malePieLegendColor, #femalePieLegendColor, #noDataPieLegendColor, 
#primaryPieLegendColor, #secondaryPieLegendColor, #tertiaryPieLegendColor,
#youngPieLegendColor, #middlePieLegendColor, #oldPieLegendColor {
    width:10px;
    height:10px;
}

#malePieLegendColor, #primaryPieLegendColor, #youngPieLegendColor {
    background-color: red;
}

#femalePieLegendColor, #secondaryPieLegendColor, #middlePieLegendColor {
    background-color: green;
}

#tertiaryPieLegendColor, #oldPieLegendColor {
    background-color: blue;
}

#noDataPieLegendColor {
    background-color: grey;
}