.page {
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    display:flex;
    flex-direction: column;
}

.first-row, .second-row {
    display:flex;
    flex-direction: row;
    justify-content: start;
}

.line-chart-legend {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.color-line-chart-0, .color-line-chart-1, .color-line-chart-2 {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: bold;
}

.settings {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}

.options {
    margin-top: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:50px;
}

.overall {
    margin-top: 25px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:50px;
}

#total {
    margin-top: 25px;
}

.unit {
    display:flex;
    flex-direction: row;
    justify-content: start;
    gap:10px;
}

.gender, .age, .education {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.slider-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
    width:100%;
}

#slider {
    width:65%;
}

h1, h4 {
    text-align: center;
}

h4 {
    font-size: 15px;
}

.chart-title, .xaxis, .yaxis, .line-x-axis, .line-y-axis {
    font-weight: bold;
}

#play-pause-button {
    margin-top:25px;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 8px;
}